@model EliteBlog.Models.ViewModels.PostDetailViewModel
@using Microsoft.AspNetCore.Identity
@using EliteBlog.Domain.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column container py-4 col-lg-8">
    <div class="row d-flex flex-row justify-content-center">

        <div class="col">
            @if (Model.Creator != null)
            {
                <div class="form-group">
                    <label class="control-label text-info">Creator:</label>
                    <p>@(Model.Creator.FirstName + ' ' + Model.Creator.LastName)</p>
                </div>
            }
            <div class="form-group">
                <label class="control-label text-info">Title:</label>
                <p>@Model.Title</p>
            </div>
            <div class="form-group">
                <label class="control-label text-info">Text:</label>
                <p>@Model.Text</p>
            </div>
            <div class="form-group">
                <label class="control-label text-info">Date:</label>
                <p>@DateTime.Parse(Model.CreatedAt).ToShortDateString()</p>
            </div>

            @if (Model.Categories != null && Model.Categories.Count > 0)
            {
                <div class="form-group">
                    <label class="control-label text-info">Categories:</label>
                    <div class="mx-0 mt-auto mb-2 row">
                        @foreach (var category in Model.Categories)
                        {
                            <span class="badge badge-info p-1 mr-2 mb-1">@(category.Title)</span>
                        }
                    </div>
                </div>
             }

        </div>
        <div class="col d-flex flex-column justify-content-center align-items-center">
            <img class="card-img-top" style="max-height: 350px; max-width: 350px; border-radius: 5px" src="~/images/uploads/@Model.Photo" alt="Card image cap">
        </div>
    </div>
    
    <div class="d-flex flex-column mt-4">
        <div class="row d-flex flex-column align-items-start justify-content-center mx-0 px-4">
            <h5>comments: </h5>
            <div id="commentsParent">
                @if (Model.Comments != null && Model.Comments.Count > 0)
                {
                    @foreach (var comment in Model.Comments.OrderBy(x=>x.CreatedAt))
                    {
                        <div class="d-flex flex-column align-items-start py-2 w-100">
                            @if (comment.Text != null)
                            {
                                <div class="d-flex flex-row justify-content-center align-items-center">
                                    @if (comment.Creator != null && comment.Creator.Photo != null)
                                    {
                                        <img src="~/images/uploads/@comment.Creator.Photo" alt="Avatar" class="avatar-comment">
                                    }
                                    else
                                    {
                                        <img src="~/images/user.png" alt="Avatar" class="avatar-comment">
                                    }
                                    <p class="my-0 mx-2 text font-weight-bold" style="font-size: 12px">@(comment.Creator != null ? comment.Creator.FirstName + ' ' + comment.Creator.LastName : "unknown user" ) </p>
                                    <p class="my-0 text text-info" style="font-size: 12px">@(DateTime.Parse(comment.CreatedAt).ToShortTimeString() + ", " + DateTime.Parse(comment.CreatedAt).ToLongDateString())</p>
                                </div>
                                <p class="text ml-4 mt-2 mb-0 bg-light" style="font-size: 16px; border-radius: 5px; padding: 10px">@comment.Text</p>
                            }

                        </div>
                    }
                }
            </div>

        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            <form id="commentForm" class="mt-4">
                <div class="form-group">
                    <label style="font-size: 18px">Your Comment:</label>
                    <textarea class="form-control" rows="4" id="commentText"></textarea>
                </div>
                <input type="hidden" id="commentPostID" value="@Model.ID" />
                <div class="form-group">
                    <input type="button" onclick="submitComment()" value="Add Comment" class="btn btn-primary" />
                </div>
            </form>
        }
        else
        {
            <a class="nav-link text-primary" id="login" asp-area="Identity" asp-page="/Account/Login">Log in to comment!</a>
        }

    </div>
    


</div>

@section Scripts {
    <script>
        $(document).ready(function () {

        })

        function submitComment() {
            console.log("submitComment fired...")
            let Text = $("#commentText").val();
            let PostID = $("#commentPostID").val();

            if (Text == "" || Text == null) {
                return
            }

            $.ajax({
                url: `/Home/AddComment`,
                cache: false,
                type: "POST",
                data: {
                    Text: Text,
                    PostID: PostID
                },
                success: function (response) {
                    console.log("success response is:", response);
                    if (response.success && response.data.text !== "") {
                        let comment = response.data;
                        $("#commentsParent").append(
                            `
                                <div class="d-flex flex-column align-items-start py-2 w-100">
                                    <div class="d-flex flex-row justify-content-center align-items-center">
                                        <img src="/images/${(comment.creator !== null && comment.creator.photo) !== null ? 'uploads/' + comment.creator.photo : 'user.png'}" alt="Avatar" class="avatar-comment">
                                        <p class="my-0 mx-2 text font-weight-bold" style="font-size: 12px">${comment.creator !== null ? comment.creator.firstName + ' ' + comment.creator.lastName : 'unknown user'} </p>
                                        <p class="my-0 text text-info" style="font-size: 12px">${comment.createdAt !== "" ? comment.createdAt : ""}</p>
                                    </div>
                                    <p class="text ml-4 mt-2 mb-0 bg-light" style="font-size: 16px; border-radius: 5px; padding: 10px">${comment.text}</p>
                                </div>
                            `
                        )
                    }
                },
                error: function (xhr) {
                    console.log("error response is", xhr);
                }
            });
        }
    </script>
}
